body{
    background-color: aliceblue;
}

footer{
    font-style: oblique;
}

img:hover{
    transform: scale(0.97);
}

button:hover{
    transform: scale(1.1);
}

a:hover{
    transform: scale(1.1);
}