body{
    background-color: aliceblue;
    /* background: #9e9ec34c; */ 
    background-size: 66.5%;
    background-repeat: repeat-x;
    
}

footer{
    font-style: oblique;
}

#mario{
    background: rgb(57, 61, 69);
    width: auto;
    height: auto;
    margin: auto ;
    color: aliceblue;
    font-size: large;
}

#carrusel{
    background: rgb(57, 61, 69);
    width: auto;
    height: auto;
    margin: auto ;
}

span{
    font-style: oblique;
    color: azure;
}

button:hover{
    transform: scale(1.1);
}

a:hover{
    transform: scale(1.1);
}